/* @import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap");

@theme {
  --font-courier: "Courier Prime", sans-serif;
  --font-michroma: "Michroma", sans-serif;
  /* font-family: "Michroma", sans-serif; */
}

@import "tailwindcss";

.background-city {
  background-image: url("kevin-laminto-7PqRZK6rbaE-unsplash.jpg");
  background-size: 100%;
  /* background-attachment: fixed; */
  /* background-position: bottom; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}
