/* @import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap");

@theme {
  --font-courier: "Courier Prime", sans-serif;
  --font-michroma: "Michroma", sans-serif;
  --color-light-blue: #a0f2b6;
  --color-neutral-gray: #a0f2b6;
  /* font-family: "Michroma", sans-serif; */
}

@import "tailwindcss";

body {
  font-family: "Courier Prime", sans-serif;
}

.background-city {
  background-image: url("kevin-laminto-7PqRZK6rbaE-unsplash.jpg");
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-position: bottom; */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}

.gallery-image-box {
  width: 300px;
  height: 200px;
  background: #60a5fa;
  /* clip-path: polygon(8% 0, 100% 0, 100% 92%, 92% 100%, 0 100%, 0 8%); */
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}
